<%= form_with(model: drink, local: true) do |form| %>
  <!-- Other form fields -->
  <div class="field">
    <%= form.label :ChoseDrink %>
    <%= form.select :ChoseDrink, options_for_select(["Mojito", "Moscow Mule", "Piña Colada"]) %>
  </div>
  <!-- Other form fields -->
    <div>
    <%= form.submit %>
  </div>
<% end %>


