<h1>A base di?</h1>
<%= button_to "Frutta", "#", method: :get, class: "btn btn-primary" %>
<%= button_to "Latte di mandorla", "#", method: :get, class: "btn btn-primary" %>
<%= button_to "Soda", "#", method: :get, class: "btn btn-primary" %>
<%= button_to "Gelato", "#", method: :get, class: "btn btn-primary" %>
