<h1>Scelte possibili</h1>
<%= button_to "Cioccolato", "#", method: :get, class: "btn btn-primary" %>
<%= button_to "Cioccolato Bianco", "#", method: :get, class: "btn btn-primary" %>
<%= button_to "Nocciola", "#", method: :get, class: "btn btn-primary" %>


